* {
    box-sizing: border-box; /*Determina o tamanho total independente do padding e border*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
	padding: 0;
}
:root {
    --widthGrid: 60%;
    --greenPartiner: #00cc00;
    /* #59cd32 */
}
.fadeIn {
    animation: fadeIn 1.5s; 
 }
 @keyframes fadeIn {
     from {
         opacity: 0;
     }
 
     to {
         opacity: 1;
     }
 }
 html {
    
    scroll-behavior: smooth;
 }

/* => Generico */
.conteiner-grid{
    width: var(--widthGrid);
    margin: 0 auto;
}

/* => Menu nav */
nav {
    /* border-bottom: 4px solid #999999; */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline;
    font-size: 13px;
}
nav a {
    text-decoration: none;
    color: var(--greenPartiner);
    font-weight: bold;
    padding: 6px 28px;
    border-radius: 15px;
    transition: background-color 0.5s , color 0.5s;
}
nav a:hover {
    background-color: var(--greenPartiner);
    color: white;
}
.btn-nav-active {
    background-color: var(--greenPartiner);
    /* padding: 6px 28px; */
    color: white;
    /* border-radius: 15px; */
}

/* => Presentation */
.container-presentation {
    height: fit-content;
    border-bottom: 2px solid var(--greenPartiner);
    scroll-margin-top: 60px;
    scroll-behavior: smooth;

}
.foto-perfil {
    height: 55px;
    
}
.foto-perfil img{
    width: 150px;
    border-radius: 50%;
    position: relative;
    left: 44%;
    top: -67px;
}
.presentation {
    background-image: url('/img/background_presentation.jpg');
    background-size: 100%;
    height: 350px;
    
}
.presentation p {
    color: white;
    font-size: 30px;
    text-align: center;
    opacity: 0;
    transition: opacity 3s;
    transition-delay: 1.2s;
}
.showContent {
    opacity: 1 !important;
}
.presentation .myName {
    border-bottom: 5px solid white;
    display: inline-block;
    height: 52px;
}
.myName {
    animation-duration: 1.2s;
    animation-name: blinkUnderline;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    /* animation-fill-mode: forwards;
    transition: border-bottom 1s ease-out; */
    /* animation-play-state: paused; */
}
@keyframes blinkUnderline {
    from {
        border-bottom: 5px solid white;
    }
    to {
        border-bottom: thick;
        /* border-bottom: 8px solid transparent; */
    }
}
.presentation .container-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.presentation .greeting {
    font-size: 35px;
    height: inherit;
}
.container-contatos-redesSociais {
    
    padding-bottom: 50px;
    padding-top: 25px;
    height: 250px;
}
.container-contatos-redesSociais div {
    margin-bottom: 8px;    
    width: 170px;
}
.container-contatos-redesSociais i {
    font-size: 25px;
    color: var(--greenPartiner);
    margin-right: 5px;
    
}
.container-redesSociais a {
    text-decoration: none;
    color: black;
}

/* .container-redesSociais a:hover {
    transform: scale(1.1, 1.1);
} */
.container-contatos {
    display: flex;
    flex-direction: column;
    float: left;
    opacity: 0;
    transition: opacity 3s, margin-left 1.5s;
    transition-delay: 2s, 2s;
}
.container-contatos p {
    margin-bottom: 8px;
}
.conteiner-contactMe {
    display: flex;
    align-items: center;
}
.container-redesSociais {
    display: flex;
    flex-direction: column;
    float: right;
    opacity: 0;
    transition: opacity 3s, margin-right 1.5s;
    transition-delay: 2s, 2s;
}
.container-redesSociais i {    
    transition: transform 0.5s ease;
}
.icon-socialMedia-inflate {
    transform: scale(1.2, 1.2);
}
.container-redesSociais span {
    transition: font-size 0.5s ease;
}
/* .name-socialMedia-retract {
    transform: scale(0.95, 0.95);
} */
.redes-sociais a {
    display: flex;
    align-items: center;
    width: fit-content;
}

/* => Skills */
.container-skills {
    height: 500px;
    background-color: blueviolet;
    scroll-margin-top: 60px;
}

/* => Diferenciais */
.container-advantages {
    height: 400px;
    background-color: yellow;
    scroll-margin-top: 60px;
}

/* => Portfolio */
.container-portfolio {
    height: 700px;
    background-color: lightblue;
    scroll-margin-top: 60px;
}

/* => Footer */
footer {
    height: 250px;
    background-color: dimgray;
}